<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Zaius\Engage\Api\ClientInterface" type="Zaius\Engage\Model\Client"/>
    <preference for="Zaius\Engage\Api\CustomerRepositoryInterface" type="Zaius\Engage\Model\CustomerRepository"/>
    <preference for="Zaius\Engage\Api\OrderRepositoryInterface" type="Zaius\Engage\Model\OrderRepository"/>
    <preference for="Zaius\Engage\Api\ProductRepositoryInterface" type="Zaius\Engage\Model\ProductRepository"/>
    <preference for="Zaius\Engage\Api\LocalesInterface" type="Zaius\Engage\Model\LocalesRepository"/>
    <preference for="Zaius\Engage\Api\CouponsInterface" type="Zaius\Engage\Model\CouponsManagement"/>
    <preference for="Zaius\Engage\Api\ConfigurationInterface" type="Zaius\Engage\Model\ConfigurationRepository"/>
    <preference for="Zaius\Engage\Api\SubscriberRepositoryInterface" type="Zaius\Engage\Model\SubscriberRepository"/>
    <type name="Zaius\Engage\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Zaius\Engage\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">zaiusLogger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Zaius\Engage\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Event\ManagerInterface">
        <plugin name="list_all_dispatched_event" type="Zaius\Engage\Plugin\ListDispatchedEvents" sortOrder="10" disabled="false"/>
    </type>
</config>
