<?xml version="1.0" encoding="utf-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_save_after">
        <observer name="zaius_engage" instance="Zaius\Engage\Observer\ProductSaveObserver"/>
    </event>
    <event name="cataloginventory_stock_item_save_after">
        <observer name="zaius_engage" instance="Zaius\Engage\Observer\StockItemSaveAfterObserver"/>
    </event>
    <event name="customer_save_after">
        <observer name="zaius_engage" instance="Zaius\Engage\Observer\CustomerSaveObserver"/>
    </event>
    <event name="customer_address_save_after">
        <observer name="zaius_engage" instance="Zaius\Engage\Observer\CustomerAddressSaveObserver"/>
    </event>
    <event name="sales_order_payment_cancel">
        <observer name="zaius_engage" instance="Zaius\Engage\Observer\OrderPaymentCancelObserver"/>
    </event>
    <event name="sales_order_payment_refund">
        <observer name="zaius_engage" instance="Zaius\Engage\Observer\OrderPaymentRefundObserver"/>
    </event>
    <event name="newsletter_subscriber_save_after">
        <observer name="zaius_engage" instance="Zaius\Engage\Observer\NewsletterSubscriberSaveObserver"/>
    </event>
</config>
