<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Config\Controller\Adminhtml\System\Config\Save">
        <plugin name="zaius_engage_config_after_save" type="Zaius\Engage\Plugin\Config\Controller\Adminhtml\SavePlugin" sortOrder="0" />
    </type>
</config>
